<md-toolbar color="primary">
    Angular Material 2 Data Table
</md-toolbar>
<md-card>
    <md-toolbar color="secundary">
        Table Title
    </md-toolbar>
    <ng2-md-data-table [selectable]="true">
        <table>
            <thead>
            <tr ng2-md-data-table-header-selectable-row>
                <th class="md-text-cell">Material</th>
                <th>Quantity</th>
                <th>Unit price</th>
            </tr>
            </thead>
            <tbody>
            <tr ng2-md-data-table-header-selectable-row>
                <td class="md-text-cell">Fulano</td>
                <td>100</td>
                <td>200</td>
            </tr>
            <tr ng2-md-data-table-header-selectable-row>
                <td class="md-text-cell">Fulano</td>
                <td>100</td>
                <td>200</td>
            </tr>
            <tr ng2-md-data-table-header-selectable-row>
                <td class="md-text-cell">Fulano</td>
                <td>100</td>
                <td>200</td>
            </tr>
            <tr ng2-md-data-table-header-selectable-row>
                <td class="md-text-cell">Fulano</td>
                <td>100</td>
                <td>200</td>
            </tr>
            </tbody>
        </table>
    </ng2-md-data-table>
</md-card>
